*{
    margin: 0;
    padding: 0;
}

sub{
    font-size: 10px;
}

body {
    background-image: url(../src/images/pablo-pacheco-D3Mag4BKqns-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.head-cont{
    display: flex;
    justify-content: center;
    padding: 1vh 0vw;
    background-color: wheat;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.menu{
    background-color: rgb(245, 222, 179, 0.7);
    height: fit-content;
    width: 75vw;
    font-size: 25px;
    padding: 15px;
}

.menu h2{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.review-cont{
    padding: 0px 10px;
}

.review-note{
    font-size: 20px;
}

.review-author{
    font-size: 15px;
    font-style: italic;
    padding-left: 40px;
    padding-bottom: 10px;
}

.menu-item-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minimax(150px, 1fr));
}

.menu-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid red;
}

.menu-item > img{ 
    height: min-content;
    width: 13vw;
}

.menu-item.sect4 > div{
    line-height: 0.4px;
}

.menu-item.sect1 > img{
    height: fit-content;
}

.menu-item.sect7{
    display: flex;
    justify-content: flex-start;
}

.menu-item.sect7 > div{
    display: inline-block;
    text-align: left;
    height: fit-content;
}

.menu-item > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    padding: 8px;
    width: auto;
    height: 10vh;
}

.foot-cont{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1vh 0vw;
    background-color: wheat;
}