*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(pablo-pacheco-D3Mag4BKqns-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.head-cont{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    background-color: wheat;
}